{
  "qrz_user": "N0CALL",
  "qrz_password": "your-qrz-xml-api-password",

  "qrz_logbook_api_key": "XXXX-XXXX-XXXX-XXXX",

  "lotw_user": "N0CALL",
  "lotw_password": "your-lotw-website-password",

  "clublog_email": "you@example.com",
  "clublog_password": "your-clublog-APPLICATION-password",
  "clublog_callsign": "N0CALL",
  "clublog_api_key": "",

  "eqsl_user": "N0CALL",
  "eqsl_password": "your-eqsl-password",

  "tqsl_station_location": "Home",
  "tqsl_passphrase": ""
}
